@model Retail.Web.Models.Service

@{
    ViewBag.Title = "Service " + Model.Id.ToString();
}
<form action="@Url.Action("Close")" method="post">
    @Html.Hidden("id", Model.Id)
    <div class="page-header">
        <p class="pull-right">
            <a role="button" class="btn btn-success" href="@Url.Action("Edit", new { id = Model.Id })"><i class='fa fa-pencil fa-fw'></i> Edit</a>
            @if (Model.IsOpen) {
                <input type="submit" class="btn btn-warning" value="Close" />
            }
        </p>
        <h2>
            <a role="button" class="btn btn-default" href="@Url.Action("Index")"><i class='fa fa-chevron-left fa-fw'></i> Services</a>
            Service @Model.Date.ToShortDateString()
            <small>DETAILS</small>
        </h2>
    </div>
</form>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsOpen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsOpen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
