@model Retail.Web.Models.ContactList

@{
    ViewBag.Title = "Edit Contacts " + Model.Id.ToString();
}

<div class="page-header">
    <p class="pull-right">
        @if (Model.Customers.Count() != 0) {
            <a role="button" class="btn btn-danger" href="@Url.Action("EmptyContactList", new { id = Model.Id })"><i class="fa fa-trash-o"></i> Empty Contact List</a>
        }
    </p>
    <h2>
        <a role="button" class="btn btn-default" href="@Url.Action("Index")"><i class='fa fa-chevron-left fa-fw'></i> Contact Lists</a>
        @Model.Name
        <small>EDIT CONTACTS</small>
    </h2>
</div>

<div class="row">
    <div class="col-lg-6">
        <h4 class="text-center">Contacts Not In List</h4>
        @Html.Action("ContactListNotIncludedCustomers", new { id = Model.Id })
    </div>
    <div class="col-lg-6">
        <h4 class="text-center">Contacts In List</h4>
        @Html.Action("ContactListIncludedCustomers", new { id = Model.Id })
    </div>
</div>

<div>
    <a role="button" class="btn btn-primary" href="@Url.Action("Details", new {id = Model.Id })">Done</a>
</div>

