@{
    ViewBag.Title = "Home Page";
    AjaxOptions openServicesAjaxOptions = new AjaxOptions {
        UpdateTargetId = "open-services-tbl"
    };
}

<div class="page-header">
    <h1>@ViewBag.CompanyName <small>HOME</small></h1>
</div>

<div class="row">
    <h2>Common Actions:</h2>
    <div class="col-md-2">
        <h3>Customers</h3>
        @Html.ActionLink("View Customers...", "Index", "Customers") <br />
        @Html.ActionLink("Add New Customer...", "Create", "Customers")
    </div>
    <div class="col-md-2">
        <h3>Employees</h3>
        @Html.ActionLink("View Employees...", "Index", "Employees") <br />
        @Html.ActionLink("Add New Employee...", "Create", "Employees")
    </div>
    <div class="col-md-2">
        <h3>Products</h3>
        @Html.ActionLink("View Products...", "Index", "Products") <br />
        @Html.ActionLink("Add New Product...", "Create", "Products") <br />
        @Html.ActionLink("View Vendors...", "Index", "Vendors") <br />
        @Html.ActionLink("Add New Vendor...", "Create", "Vendor") <br />
        @Html.ActionLink("View Categories...", "Index", "Categories") <br />
        @Html.ActionLink("Add New Category...", "Create", "Categories")
    </div>
    <div class="col-md-2">
        <h3>Sales</h3>
        @Html.ActionLink("View Sales...", "Index", "Sales") <br />
        @Html.ActionLink("Add New Sale...", "Create", "Sales")
    </div>
    <div class="col-md-2">
        <h3>Services</h3>
        @Html.ActionLink("View Services...", "Index", "Services") <br />
        @Html.ActionLink("Add New Service...", "Create", "Services")
    </div>
    <div class="col-md-2">
        <h3>Incidents</h3>
        @Html.ActionLink("View Incidents...", "Index", "Incidents") <br />
        @Html.ActionLink("Add New Incident...", "Create", "Incidents")
    </div>
</div>

<div class="row">
    <h2>Dashboard:</h2>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Open Services</div>
            <div class="panel-body">
                @using (Ajax.BeginForm("GetOpenServices", "Services", new RouteValueDictionary(), openServicesAjaxOptions, new { @class = "form-inline" })) {
                    <label for="Employee">Employee: </label>
                    @Html.DropDownList("Employee", (IEnumerable<SelectListItem>)ViewBag.EmployeesSelectListItems)
                    <button type="submit" class="btn btn-default">Search</button>
                }
            </div>
            <table class="table" id="open-services-tbl">
                <tr>
                    <td>
                        <p class="text-center">Select an Employee.</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Available Surveys</div>
            @Html.Action("GetAvailableSurveys", "Services")
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryajax")
}