@model IEnumerable<Retail.Web.Models.Customer>

@{
    if (ViewBag.IsEditable == null) {
        ViewBag.IsEditable = true;
    }
}

@if (Model.Count() == 0) {
    <p class="text-center">No Sale Items</p>
} else {
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressStreet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressZip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            @if (ViewBag.IsEditable) {
                <th></th>
            }
            
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressStreet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressZip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressState)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                @if (ViewBag.IsEditable) {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    </td>
                }
                
            </tr>
        }

    </table>
}

