@model IEnumerable<Retail.Web.Models.Sale>

@{
    if (ViewBag.IsEditable == null) {
        ViewBag.IsEditable = true;
    }
}

@if (Model.Count() == 0) {
    <p class="text-center">No Sales</p>
} else {
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                Items
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            @if (ViewBag.IsEditable) {
                <th></th>
            }
        </tr>



        @foreach (var item in Model) {
            <tr>
                <td>
                    @if (ViewBag.IsEditable) {
                        @Html.DisplayFor(modelItem => item.Date)
                    } else {
                        @Html.DisplayFor(modelItem => item)
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Customer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee)
                </td>
                <td>
                    @item.SaleItems.Count.ToString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                @if (ViewBag.IsEditable) {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                }
            </tr>
        }

    </table>
}