@model Retail.Web.Models.Sale

@{
    ViewBag.Title = "Sale " + Model.Id.ToString();
}

<div class="page-header">
    <p class="pull-right">
        <a role="button" class="btn btn-success" href="@Url.Action("Edit", new { id = Model.Id })"><i class='fa fa-pencil fa-fw'></i> Edit</a>
        <a role="button" class="btn btn-danger" href="@Url.Action("Delete", new { id = Model.Id })"><i class='fa fa-trash-o fa-fw'></i> Delete</a>
    </p>
    <h2>
        <a role="button" class="btn btn-default" href="@Url.Action("Index")"><i class='fa fa-chevron-left fa-fw'></i> Sales</a>
        Sale @Model.Id.ToString()
        <small>DETAILS</small>
    </h2>
</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee)
        </dt>

        <dd>
            <a href="@Url.Action("Details", "Employees", new { id = Model.Employee.Id })">
                @Html.DisplayFor(model => model.Employee.FirstName) @Html.DisplayFor(model => model.Employee.LastName)
            </a>
        </dd>

    </dl>
</div>

<div>
    <h4>Items: </h4>
    @{
        var vd = new ViewDataDictionary();
        vd.Add("IsEditable", false);
        Html.RenderPartial("~/Views/SaleItems/_Table.cshtml", Model.SaleItems, vd);
    }
</div>

<div class="pull-right">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>
</div>
